body {
    padding: 0;
    margin: 0;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    padding: 40px;
    margin: 0;
    text-align: center;
}

.container {
    margin: 0;

}

h1 {
    padding: 0;
    margin: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 250px;
    padding: 20px;
    text-align: center;
    background-color: #999;
}