/* default does nothing to a single link. It's only for when multiple buttons exist together */
a:default {
    color: aquamarine;
}

a:hover {
    color: coral;
}

a:focus {
    color: darkcyan;
}

a:active {                     
    color: blanchedalmond;
}   
                  
#a2:hover {
    color: darkorchid;
}

#a2:focus {
    font-size: 300px;
}

#a2:active {  
    font-size: 100px;                   
    font-weight: 900;
} 
